<div class="MsgView View">
    <a href="#/home">
        <div class="HomeLogo LogoDiv">
            <span>Acme Email</span>
        </div>
    </a>
    <div class="MsgTop">
        <h1>Message To: {{msg.fullname}}</h1>
        <form id="MsgForm" name="MsgForm">
            <label>ID:
                <input type="text" disabled="true" ng-model="msg.id"></input>
            </label>
            <label>To:
                <input type="text" disabled="true" ng-model="msg.fullname"></input>
            </label>
            <label ng-show="msg.gift">Gift:
                <select ng-change="giftChanged()" ng-required="msg.gift" ng-model="msg.gift.id" ng-options="gift.id as gift.name for gift in gifts"></select>
            </label>
            <label ng-show="msg.birthdate">Baby Name:
                <input valid-name name="BabyName" type="text" ng-required="msg.birthdate" ng-model="msg.babyname" ng-invalid="BadText" placeholder="Baby Name"/>
                <span class="ValError" ng-show="MsgForm.BabyName.$error.required">Choosing a name is required</span>
                <span class="ValError" ng-show="MsgForm.BabyName.$error.isBabyName">Please try another name</span>
            </label>
            <label ng-show="msg.birthdate" class="MsgText">Birthdate:
                <input ng-required="msg.birthdate" type="date" ng-model="birthdate" ng-change="dateChanged()"/>
            </label>
            <label class="MsgText">Text:
                <textarea name="MsgText" must-have-text="{{msg.requiredText}}" my-msg="msg" ng-model="msg.text"></textarea>
                <span class="ValError" ng-show="MsgForm.MsgText.$error.hasRequiredText">Error, message must contain {{msg.requiredText}}</span>
            </label>
            <label>Preview:
                <div class="MsgMessage HomeMsgContainer">
                    <img ng-src="img/envelope.png"></img>
                    <div class="PreviewMsgName HomeMsgName">To: {{msg.fullname}}</div>
                    <div>Subject: {{msg.type.name}}</div>
                    <div>{{msg.buildMessage()}}</div>
                </div>
            </label>
            <input ng-click="send()" ng-disabled="isClean() || MsgForm.$invalid" class="SaveBtn GreenBtn" type="submit" value="Send" />
            <input ng-click="cancel()" class="SaveBtn GreenBtn" type="submit" value="Cancel" />
        </form>
    </div>
</div>
